.item{
    width: 100%;   
}

.swiper{
    overflow-y: visible;
}

.swiper-button-prev{
    position: relative !important;
    width: 80px;
    height: 80px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -245px;
    left: 300px;
}

.swiper-button-next{
    position: relative !important;
    width: 80px;
    height: 80px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -300px;
    left: 450px;
}

@media screen and (min-width: 1880px){
    .swiper-button-prev{
        top: -245px;
        left: 650px;
    }
    
    .swiper-button-next{
        top: -300px;
        left: 840px;
    }
}

@media screen and (max-width: 1600px){
    .swiper-button-prev{
        top: -322px;
        left: 250px;
    }
    
    .swiper-button-next{
        top: -380px;
        left: 458px;
    }
}